
*.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/dictionaries/37092.xml
.idea/vagrant.xml
.idea/vcs.xml
