@font-face {
    font-family: 'sofia';
    src: url('../ttf/sofiaprolight.woff2-webfont.woff2') format('woff2'),
    url('../ttf/sofiaprolight.woff2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body, html {
    background-color: #082730;
    font-family: "Microsoft YaHei";
    color: white;
}
.display_i {
    margin: 80px auto 50px;
    text-align: center;
    width: 900px;
    font-family: sofia;
}
.chin {
    margin-top: 10px;
    font-size: 40px;
    color: #F2ECE4;
    font-weight: lighter;
    transition: 0.2s ;
}
.engli {
    font-size: 110px;
    color: #F2ECE4;
}
.engli span {
    transition: 0.2s ;
}
